footer {
  position: sticky;
  top: auto;
  bottom: 0px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 8vw;
  margin-bottom: 0px;
  background: #131313;
  background: radial-gradient(circle 50vw, #171717, #131313);
  color: #777;
  width: 100%;
  font-size: 90%;
}
footer > .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  font-family: "header light";
}
footer > .content > :nth-child(1) {
  display: inline-block;
}
footer > .content > :nth-child(1) a {
  display: inline-block;
  width: auto;
  padding: 0px;
  color: inherit !important;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 400;
}
footer > .content > :nth-child(1) a li {
  display: inline;
}
footer > .content > .info {
  /*color: #ccc;*/
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  /*width: max-content;*/
}
footer > .content > .info .header {
  display: inline-block;
  width: max-content;
  font-family: 'bebas';
  letter-spacing: 2px;
  font-size: 140%;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: white;
}
footer > .content > .info .header > :nth-child(1) {
  margin: 0px;
}
footer > .content > .info .content * {
  color: inherit !important;
}
footer > .content > .info .content .detail,
footer > .content > .info .content .link {
  cursor: pointer;
  transition: all 0.2s linear;
}
footer > .content > .info .content .detail:hover,
footer > .content > .info .content .link:hover {
  color: #d0d0d0 !important;
}
footer > .content > .info:nth-child(2) .content .detail {
  display: flex;
  justify-content: center;
}
footer > .content > .info:nth-child(2) .content .detail > :nth-child(1) {
  font-style: italic;
  margin-right: 5px;
}
footer > .content > .info:nth-child(3) .content {
  display: inline-block;
  text-align: center;
}
footer > .content > .info:nth-child(3) .content .detail {
  font-size: 150%;
  margin-bottom: 5px;
  cursor: pointer;
}
footer > :nth-child(2) {
  text-align: center;
}
